/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-mar-2017, 11.11.17
    Author     : tss
*/
.link{
    display: inline-block; 
    position: absolute;
    top: 300px;
    left: 680px;
    font-size: 45px;  
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: lightgrey;
    border-radius: 10px;
    border: solid 3px dimgray;
}
.link a{color: #fff;} 

textarea#descri{
    height: 40px;
}
.link2{
    display: inline-block; 
    position: absolute;
    top: 300px;
    left: 1120px;
    font-size: 25px;  
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: lightgrey;
    border-radius: 10px;
    border: solid 3px dimgray;
    padding-left: 5px;
}
body{
    background-color:bisque;
}
#orologio{
    width: 200px; height: 200px;
    border-radius: 100px;
    border: solid 4px grey;
    background-image: url('image.jpg');
    background-size: 200px 200px;
    position: absolute;
    top: 100px;
    left: 400px;
}
body td{
    background-color: #fff;
}
#autenticazione{
    float: right;
    font-size: 30px;     
}
#pulsanti{
    margin: auto;
    width: 480px;
    height: 40px;   
    margin-left: 800px;
}
#pulsanti input{
    border-radius: 35px;
    font-size: 25px;  
}
h1{
    font-size: 35px;
    color: darkmagenta;
    text-align: center;  
    padding-left: 50px;
}
#login label,#registrazione label{
    background-color: lightgray;
}
#login, #registrazione{
    width: 215px;
    height: 500px;
    margin: auto;
    font-size: 20px;
    border: outset 6px blue;
    border-radius: 5px;
}

#conteCreaSpesa{
    padding-left: 25px;
    width: 250px;
    height: 350px;
    margin: auto;
    font-size: 20px;
    margin-left: 800px;  
    border: outset 6px blue;   
}
#conteCreaSpesa h2{
    padding-left: 5px;
}   

#conteVisuSpese{
    font-size: 20px;
    margin: auto;
}
table{
    margin: auto;
    border-spacing: 10px;        
}    
table td{
    border: solid 1px lightgrey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    text-align: center
} 

#scelta{
    margin: auto;
    text-align: center;
    font-size: 20px;
}
