/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-mar-2017, 11.11.17
    Author     : tss
*/

#autenticazione{
    float: right;
    font-size: 30px;
}
#pulsanti{
    margin: auto;
    width: 480px;
    height: 40px;    
}
#pulsanti input{
    border-radius: 35px;
    font-size: 25px;  
}
h1{
    font-size: 35px;
    color: darkmagenta;
    text-align: center
}

#conteCreaSpesa{
    width: 215px;
    height: 500px;
    margin: auto;
    font-size: 20px
}

#conteVisuSpese{
    font-size: 20px;
    margin: auto;
}
#conteVisuSpese table{
    margin: auto;
    border-spacing: 10px;        
}    
#conteVisuSpese table td{
    border: solid 1px lightgrey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    text-align: center
}    
