/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-mar-2017, 11.11.17
    Author     : tss
*/
.link{
    display: inline-block; 
    position: absolute;
    top: 300px;
    left: 637px;
    font-size: 45px;  
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: lightgrey;
    border-radius: 10px;
    border: solid 3px dimgray;
}
.link a{color: #fff;} 

#autenticazione{
    float: right;
    font-size: 30px;
}
#pulsanti{
    margin: auto;
    width: 480px;
    height: 40px;    
}
#pulsanti input{
    border-radius: 35px;
    font-size: 25px;  
}
h1{
    font-size: 35px;
    color: darkmagenta;
    text-align: center
}

#conteCreaSpesa{
    width: 215px;
    height: 500px;
    margin: auto;
    font-size: 20px
}

#conteVisuSpese{
    font-size: 20px;
    margin: auto;
}
table{
    margin: auto;
    border-spacing: 10px;        
}    
table td{
    border: solid 1px lightgrey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    text-align: center
} 

#scelta{
    margin: auto;
    text-align: center;
    font-size: 20px;
}
